USE [master]
GO
/****** Object:  Database [FACTURAS]    Script Date: 13/12/2023 21:43:29 ******/
CREATE DATABASE [FACTURAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FACTURAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FACTURAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FACTURAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FACTURAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACTURAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACTURAS]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[CEDULA] [char](10) NULL,
	[NOMBRE] [char](30) NULL,
	[APELLIDOS] [char](30) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[IDDETALLEFACTURA] [bigint] IDENTITY(1,1) NOT NULL,
	[IDFACTURA] [int] NOT NULL,
	[IDPRODUCTO] [bigint] NOT NULL,
	[CANTIDAD] [decimal](10, 2) NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NULL,
	[SUBTOTAL] [decimal](12, 4) NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC,
	[IDPRODUCTO] ASC,
	[IDDETALLEFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[IDFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [bigint] NULL,
	[FECHA] [datetime] NULL,
	[NUMERO] [bigint] NULL,
	[TOTAL] [decimal](12, 4) NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IDPRODUCTO] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCTO] [nchar](30) NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NULL,
	[STOCK] [decimal](10, 2) NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 13/12/2023 21:43:30 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[DETALLE_FACTURA]
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 13/12/2023 21:43:30 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[DETALLE_FACTURA]
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 13/12/2023 21:43:30 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[FACTURA]
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__RELATIONS_FACTURA] FOREIGN KEY([IDFACTURA])
REFERENCES [dbo].[FACTURA] ([IDFACTURA])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__RELATIONS_FACTURA]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__RELATIONS_PRODUCTO] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__RELATIONS_PRODUCTO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_RELATIONS_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_RELATIONS_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_CLIENTE]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_actualizar_CLIENTE]
@Cedula char(10), @Nombre char(30), @Apellido char(30), @Fecha_Nac date
AS
BEGIN
BEGIN TRY		
	UPDATE CLIENTE SET NOMBRE = @Nombre, APELLIDOS = @Apellido, FECHA_NACIMIENTO = @Fecha_Nac WHERE CEDULA = @Cedula
	END TRY
	BEGIN CATCH
		PRINT 'Error ' + ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_CLIENTE_Direccion_Ciudad]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------

create PROCEDURE [dbo].[sp_actualizar_CLIENTE_Direccion_Ciudad]
@Cedula varchar(10), @Nombre varchar(50), @Apellido varchar(20), @Fecha_Nac varchar(20)
AS
BEGIN
BEGIN TRY		
	UPDATE CLIENTE SET NOMBRE = @Nombre, APELLIDOS = @Apellido, FECHA_NACIMIENTO = @Fecha_Nac WHERE CEDULA = @Cedula
	END TRY
	BEGIN CATCH
		PRINT 'Error ' + ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_PRODUCTO]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_PRODUCTO]
(
    @idproducto bigint,
	@producto nchar(30),
    @precio_unitario decimal(10,2),
	@stock decimal(10,2)
)
AS
BEGIN
	UPDATE PRODUCTO SET PRODUCTO = @producto, PRECIO_UNITARIO=@precio_unitario, STOCK=@stock
	WHERE IDPRODUCTO = @idproducto
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar_CLIENTE]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Eliminar_CLIENTE]
@Cedula char(10), @Estado bit
AS
BEGIN
BEGIN TRY		
	UPDATE CLIENTE SET ESTADO = @Estado WHERE CEDULA = @Cedula
	END TRY
	BEGIN CATCH
		PRINT 'Error ' + ERROR_MESSAGE();
	END CATCH
END

--------------------------------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_PRODUCTO]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_PRODUCTO]
(
    @idproducto bigint
)
AS
BEGIN

	UPDATE PRODUCTO SET ESTADO = '0'
	WHERE IDPRODUCTO = @idproducto
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_CLIENTE]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Insertar_CLIENTE]
@Cedula char(10), @Nombre_Cliente char(30), @Apellido char(30), 
@Fecha_Nac date
AS
DECLARE @identificador integer;
BEGIN
	BEGIN TRY	
		DEclare @Estado bit = 1
		INSERT INTO CLIENTE VALUES (@Cedula, @Nombre_Cliente, @Apellido, @Fecha_Nac, @Estado);
	END TRY
	BEGIN CATCH
		PRINT 'Error ' + ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_PRODUCTO]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_PRODUCTO]
(
    @producto nchar(30),
    @precio_unitario decimal(10,2),
	@stock decimal(10,2)
)
AS
BEGIN
    INSERT INTO PRODUCTO(PRODUCTO, PRECIO_UNITARIO, STOCK, ESTADO)
	VALUES (@producto,@precio_unitario,@stock,1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Listado_Clientes]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------CLIENTE----------------------------------

CREATE PROCEDURE [dbo].[sp_Listado_Clientes]
AS
	BEGIN
		BEGIN TRY	
			select IDCLIENTE as ID, CEDULA as Cedula, NOMBRE as Nombre, APELLIDOS as Apellido, FECHA_NACIMIENTO as 'Fecha Nacimiento', 
					case Estado 
						when 0 then 'Eliminado' 
						when 1 then 'Activo'
					end as Estado
				from CLIENTE
		END TRY
	BEGIN CATCH
		PRINT 'Error ' + ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mostrar_PRODUCTOS]    Script Date: 13/12/2023 21:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Mostrar_PRODUCTOS]
AS
BEGIN

	select IDPRODUCTO, PRODUCTO, PRECIO_UNITARIO,STOCK from PRODUCTO WHERE ESTADO = 1
    
END
GO
USE [master]
GO
